
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Операция со школой</h1>

<a href="/Groupps">Группы</a>
<a href="/Students">Студенты</a>
<a href="/Teachers">Учителя</a>

