@model IEnumerable<WebUserAjax.Entities.ProjectUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Admin Account Controller</h1>
<div>TODO: тут будет работа с пользователями и ролями</div>

