@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Admin Role List";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Admin Account Controller : Role Index</h1>
<div> TODO:  тут будет работа с пользователями и ролями</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>

                <td>
                </td>

                <td>
                </td>
            </tr>
        }
    </tbody>
</table>

