@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Admin Role Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Admin Account Controller : Role Index</h1>
<div> TODO:  тут будет работа с пользователями и ролями</div>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Новая роль</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Добавить</button>
</form>

